{{> layout/header}}

<input type="hidden" id="boarId" value="{{model.id}}">

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    {{#model.isOwner}}
        <div class="d-flex justify-content-end">
            <a href="/board/{{model.id}}/update-form" class="btn btn-warning me-1">수정</a>
            <form action="/board/{{model.id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
    {{/model.isOwner}}

    <div class="d-flex justify-content-end">
        <b>작성자</b> : {{model.username}}
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{model.title}}</b></h2>
        <hr/>
        <div class="m-4 p-2">
            {{model.content}}
        </div>
    </div>

    <!-- AJAX 좋아요 영역 -->
    <div class="my-3 d-flex align-items-center">
        {{#model.isLove}}
            <i id="loveIcon" class="fa fa-heart" style="font-size:20px; color:red"
               onclick="deleteLove({{model.loveId}})"></i>
        {{/model.isLove}}
        {{^model.isLove}}
            <i id="loveIcon" class="fa fa-heart" style="font-size:20px; color:black"
               onclick="saveLove()"></i>
        {{/model.isLove}}
        <span class="ms-1"><b id="loveCount">{{model.loveCount}}</b>명이 이 글을 좋아합니다</span>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form action="/reply/save" method="post">
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            {{#model.replies}}
                <!-- 댓글아이템 -->
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div class="px-1 me-1 bg-primary text-white rounded">{{user.username}}</div>
                        <div>{{content}}</div>
                    </div>
                    <!-- isReplyOwner = true 이면 🗑이 보임 -->
                    <form action="/reply/{{id}}/delete" method="post">
                        <button class="btn">🗑</button>
                    </form>
                </div>
            {{/model.replies}}
        </div>
    </div>
</div>

<script>

    // 다른사람이 좋아요 하는 걸 관찰할 수 있음
    // setInterval(() => {
    //     location.reload();
    // }, 1000);

    // input은 전역으로 제일 위에 올려두고 여기서 땡긴다.
    // dataset은 함수 안에다가 쓴다. -> 밖에서 써도 문제 생겼을 때 해결 가능하면 되긴 함

    let boardId = document.querySelector("#boarId").value;

    async function saveLove() {
        let requestBody = {boardId: boardId};
        let response = await fetch(`/love`, {
            method: "POST",
            body: JSON.stringify(requestBody),
            headers: {"Content-Type": "application/json"}
        });
        let responseBody = await response.json(); // { loveId, loveCount }
        console.log(responseBody);

        // DOM 업데이트
        let icon = document.querySelector('#loveIcon');
        let loveCount = document.querySelector('#loveCount');
        icon.style.color = 'red';
        icon.setAttribute('onclick', `deleteLove(${responseBody.loveId})`); // {responseBody.loveId} : dataset에 심을 수 ㅇ
        loveCount.innerHTML = responseBody.body.loveCount;
    }

    async function deleteLove(loveId) {
        let response = await fetch(`/love/${loveId}`, {
            method: "DELETE"
        });
        let responseBody = await response.json(); // { loveCount } // text/plain -> response.text()
        console.log(responseBody);

        // DOM 업데이트
        let icon = document.querySelector('#loveIcon');
        let loveCount = document.querySelector('#loveCount');
        icon.style.color = 'black';
        icon.setAttribute('onclick', `saveLove()`);
        loveCount.innerHTML = responseBody.body.loveCount;
    }
</script>

{{> layout/footer}}